.product-card {
  width: 300px;
  margin: 32px;
  padding: 32px;
  max-width: 300px;
  border-radius: 8px;
  background: #ffffff;
  box-sizing: border-box;
}

.product-card:hover {
  cursor: pointer;
  border-radius: 8px;
  background: #ffffff;
  transition: 0.7s all ease;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}
