.product-button-add .add-to-cart-button {
  width: 100%;
  margin-top: 32px;
  padding: 12px 75px;
  border-radius: 5px;
  border-color: transparent;
  background: #40b25c;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.product-button-add .add-to-cart-button:hover {
  cursor: pointer;
  transition: 0.7s all ease;
  background-color: #1c6c3e;
}

.product-button-add .product-added-to-cart {
  width: 100%;
  margin-top: 32px;
  padding: 12px 50px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #a3f9b9;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-button-add .product-added-to-cart::before {
  content: "";
  width: 16px;
  height: 16px;
  display: flex;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='13' viewBox='0 0 19 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 1L6.5 12L1.5 7' stroke='%231C1C1C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.product-button-add .product-added-to-cart:hover {
  cursor: pointer;
}
