.App {
  padding: 32px;
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

.product-info {
  width: 300px;
  padding: 32px;
  margin: 0 32px;
  max-width: 300px;
  border-radius: 8px;
  background: #ffffff;
  box-sizing: border-box;
}

.product-info:hover {
  cursor: pointer;
  border-radius: 8px;
  background: #ffffff;
  transition: 0.7s all ease;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}

.product-images {
  display: flex;
  justify-content: center;
}

.product-name {
  margin: 32px 0 24px;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #1c1c1c;
  line-height: 20px;
}

.product-price .product-list-price {
  color: #b5b5b6;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-decoration-line: line-through;
}

.product-price .product-selling-price {
  color: #da4b4f;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.005em;
}

.product-installments {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #848587;
}

.product-installments .product-installments-info {
  color: #1c1c1c;
}

.product-button-add .add-to-cart-button {
  width: 100%;
  margin-top: 32px;
  padding: 12px 75px;
  border-radius: 5px;
  border-color: transparent;
  background: #40b25c;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.product-button-add .add-to-cart-button:hover {
  cursor: pointer;
  transition: 0.7s all ease;
  background-color: #1c6c3e;
}
